{% extends "base.html" %}

{% block title %}eNodeB 环境信息{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>eNodeB</h3>
</div>
<div class="post-body">
    <table>
        <tr>
            <th class="center">维护 IP</th>
            <th class="center">用户名</th>
            <th class="center">密码</th>
            <th class="center">模式</th>
            <th class="center">频段</th>
            <th class="center">基站 ID</th>
            <th colspan="2" class="center">小区ID</th>
            <th class="center">编辑</th>
        </tr>

        {% for enb in enbs %}
            <tr>
                <td class="center">{{ enb.ip }} </td>
                <td class="center">{{ enb.username }}</td>
                <td class="center">{{ enb.password }} </td>
                <td class="center">{{ enb.board.board_model }} </td>
                <td class="center">{{ enb.frequency.number }} </td>
                <td class="center">{{ enb.enb_id }} </td>
                <td class="center">{{ enb.cell_id1  }} </td>
                <td class="center">{{ enb.cell_id2 }} </td>
                <td>
                    <div>
                    <a class="btn btn-link center"
                       href="{{ url_for('main.edit_enb', id=enb.id) }}">Edit</a>
                    <a class="btn btn-link center"
                       href="{{ url_for('main.delete_enb', id=enb.id) }}">Delete</a>
                    </div>
                 </td>
            </tr>
        {% endfor %}


    </table>
    <div id="btn-add">
        <a class="btn btn-primary" href="{{ url_for('main.add_enb') }}">Add</a>
    </div>
</div>

{% endblock %}