{% extends "base.html" %}

{% block title %}Management{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello</h1>
</div>
<div class="post-body">
    <table>
        <tr>
            <th>用途</th>
            <th>模式</th>
            <th>维护IP</th>
            <th>用户名</th>
            <th>密码</th>
            <th></th>
        </tr>
        <tr>
            <td rowspan="4">模拟线</td>
        </tr>
        {% for element in elements %}
            <tr>
                <td>{{ element.type.name }} </td>
                <td>{{ element.ip }} </td>
                <td>{{ element.username }} </td>
                <td>{{ element.password }} </td>
                <td>
                    <a class="btn btn-default"
                       href="{{ url_for('main.edit_element', id=element.id) }}">Edit</a>
                    <a class="btn btn-default"
                       href="{{ url_for('main.delete_element', id=element.id) }}">Delete</a>
                </td>
             </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}